<?php
include_once("template-parts/header.php");
include_once("template-parts/footer.php");
include_once("template-parts/top_menu.php");
include_once("template-parts/main_header.php");
include_once("template-parts/site_slider.php");
include_once("template-parts/slide_slider.php");
site_header(); ?>
<body>
<style>
.container-outer img{
margin-top:-55px;
height:100px;
}
</style>
    <div class="page-wrapper">
		<!-- Header Here -->
		<?php bottom_menu(); ?>
		<?php site_top_menu(); ?>
		<?php side_slider(); ?>
        <!-- End Hidden Bar -->   
		<?php site_slider(); ?>
        <section class="sec-pad-with-content-margin-30 gray-bg">
            <div class="container">
                <div class="sec-title-four text-center">
                    <h2>Our<span>Solutions</span></h2>
                    <p>Frequent power failures, fluctuations and power surges not only is it a nuisance but also affects your appliances and business output. We help power you by offering a vast range of superior quality products paired with prompt services which exceed customer expectations and deliver critical business continuity.<br> Take control of your power costs today!</p>
                </div><!-- /.sec-title-four -->
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-service-style-three">
                            <div class="top-box">
                                <div class="icon-box">
                                    <i class="energy-icon-factory"></i><!-- /.energy-icon-architect -->
                                </div><!-- /.icon-box -->
                                <div class="num-box">
                                    I
                                </div><!-- /.num-box -->
                            </div><!-- /.top-box -->
                            <div class="text-box">
                                <div class="main-content">
                                    <span>Power Your Car with Powertrac.</span>
                                    <h3><a href="#">Automobile Batteries</a></h3>
                                </div><!-- /.main-content -->
                                <div class="hover-content">
                                    <p>Power Your Car with Powertrac Batteries.</p>
                                </div><!-- /.hover-content -->
                            </div><!-- /.text-box -->
                            <div class="more-box">
                                <a href="#" class="more-link">Read More <i class="energy-icon-right-arrow"></i><!-- /.energy-icon-right-arrow --></a><!-- /.more-link -->
                            </div><!-- /.more-box -->
                        </div><!-- /.single-service-style-three -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4 col-md-6">
                        <div class="single-service-style-three">
                            <div class="top-box">
                                <div class="icon-box">
                                    <i class="energy-icon-geothermal-energy"></i><!-- /.energy-icon-architect -->
                                </div><!-- /.icon-box -->
                                <div class="num-box">
                                    II
                                </div><!-- /.num-box -->
                            </div><!-- /.top-box -->
                            <div class="text-box">
                                <div class="main-content">
                                    <span>Power Your Car with Powertrac Inverter.</span>
                                    <h3><a href="#">Inverter and Ups</a></h3>
                                </div><!-- /.main-content -->
                                <div class="hover-content">
                                    <p>Power Your Car with Powertrac Inverter.</p>
                                </div><!-- /.hover-content -->
                            </div><!-- /.text-box -->
                            <div class="more-box">
                                <a href="#" class="more-link">Read More <i class="energy-icon-right-arrow"></i><!-- /.energy-icon-right-arrow --></a><!-- /.more-link -->
                            </div><!-- /.more-box -->
                        </div><!-- /.single-service-style-three -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4 col-md-6">
                        <div class="single-service-style-three">
                            <div class="top-box">
                                <div class="icon-box">
                                    <i class="energy-icon-geothermal-energy-1"></i><!-- /.energy-icon-architect -->
                                </div><!-- /.icon-box -->
                                <div class="num-box">
                                    III
                                </div><!-- /.num-box -->
                            </div><!-- /.top-box -->
                            <div class="text-box">
                                <div class="main-content">
                                    <span>Power Your Life with Powertrac Generator Set.</span>
                                    <h3><a href="#">Generator Set</a></h3>
                                </div><!-- /.main-content -->
                                <div class="hover-content">
                                    <p>Power Your Life with Powertrac Generator Set.</p>
                                </div><!-- /.hover-content -->
                            </div><!-- /.text-box -->
                            <div class="more-box">
                                <a href="#" class="more-link">Read More <i class="energy-icon-right-arrow"></i><!-- /.energy-icon-right-arrow --></a><!-- /.more-link -->
                            </div><!-- /.more-box -->
                        </div><!-- /.single-service-style-three -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4 col-md-6">
                        <div class="single-service-style-three">
                            <div class="top-box">
                                <div class="icon-box">
                                    <i class="energy-icon-pump"></i><!-- /.energy-icon-architect -->
                                </div><!-- /.icon-box -->
                                <div class="num-box">
                                    IV
                                </div><!-- /.num-box -->
                            </div><!-- /.top-box -->
                            <div class="text-box">
                                <div class="main-content">
                                    <span>Power Your Life with Powertrac Ups.</span>
                                    <h3><a href="#">Online Ups System</a></h3>
                                </div><!-- /.main-content -->
                                <div class="hover-content">
                                    <p>Power Your Life with Powertrac Ups.</p>
                                </div><!-- /.hover-content -->
                            </div><!-- /.text-box -->
                            <div class="more-box">
                                <a href="#" class="more-link">Read More <i class="energy-icon-right-arrow"></i><!-- /.energy-icon-right-arrow --></a><!-- /.more-link -->
                            </div><!-- /.more-box -->
                        </div><!-- /.single-service-style-three -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4 col-md-6">
                        <div class="single-service-style-three">
                            <div class="top-box">
                                <div class="icon-box">
                                    <i class="energy-icon-geothermal-energy"></i><!-- /.energy-icon-architect -->
                                </div><!-- /.icon-box -->
                                <div class="num-box">
                                    V
                                </div><!-- /.num-box -->
                            </div><!-- /.top-box -->
                            <div class="text-box">
                                <div class="main-content">
                                    <span>Power Your Life with Powertrac Voltage Stabilizers.</span>
                                    <h3><a href="#">Voltage Stabilizers</a></h3>
                                </div><!-- /.main-content -->
                                <div class="hover-content">
                                    <p>Power Your Life with Powertrac Voltage Stabilizers.</p>
                                </div><!-- /.hover-content -->
                            </div><!-- /.text-box -->
                            <div class="more-box">
                                <a href="#" class="more-link">Read More <i class="energy-icon-right-arrow"></i><!-- /.energy-icon-right-arrow --></a><!-- /.more-link -->
                            </div><!-- /.more-box -->
                        </div><!-- /.single-service-style-three -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4 col-md-6">
                        <div class="single-service-style-three">
                            <div class="top-box">
                                <div class="icon-box">
                                    <i class="energy-icon-geothermal-energy-1"></i><!-- /.energy-icon-architect -->
                                </div><!-- /.icon-box -->
                                <div class="num-box">
                                    VI
                                </div><!-- /.num-box -->
                            </div><!-- /.top-box -->
                            <div class="text-box">
                                <div class="main-content">
                                    <span>Power Your Life with Powertrac Power Transformers</span>
                                    <h3><a href="#">Power Transformers</a></h3>
                                </div><!-- /.main-content -->
                                <div class="hover-content">
                                    <p>Power Your Life with Powertrac Power Transformers.</p>
                                </div><!-- /.hover-content -->
                            </div><!-- /.text-box -->
                            <div class="more-box">
                                <a href="#" class="more-link">Read More <i class="energy-icon-right-arrow"></i><!-- /.energy-icon-right-arrow --></a><!-- /.more-link -->
                            </div><!-- /.more-box -->
                        </div><!-- /.single-service-style-three -->
                    </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section>
 <section class="sec-pad-with-content-margin-30">
            <div class="container">
                <div class="sec-title-four text-center">
                    <h2>Our <span>Products</span></h2>
                    <p>Our product offering encompasses Electrical, Critical Power Backup, Power Storage, Power Generation Etc. <br> Take control of your power costs today!</p>
                </div><!-- /.sec-title-four -->
				 <ul class="project-filter post-filter has-dynamic-filters-counter">
				 <li data-filter=".filter-item" class="active"><span class="filter-text">All</span></li>
                    <li data-filter=".ups"><span class="filter-text">Online Ups</span></li><!--
                    --><li data-filter=".ldr"><span class="filter-text">LDR</span></li><!--
                    --><li data-filter=".stb"><span class="filter-text">Stabilizers</span></li><!--
                    --><li data-filter=".inv"><span class="filter-text">Inverters</span></li><!--
                    --><li data-filter=".gd"><span class="filter-text">Genset Divison</span></li><!--
                    --><li data-filter=".pt"><span class="filter-text">Power Transformers</span></li>
					<li data-filter=".bat"><span class="filter-text">Batteries</span></li>
                </ul>
                <div class="row filter-layout masonary-layout">
                    <div class="col-lg-3 col-md-6 col-sm-12 filter-item ups">
                        <div class="single-team-style-one">
                            <div class="image-block">
                                <img src="new/solartech-demo/images/home-pages/team-1-1.jpg" alt="awesome image">
                            </div><!-- /.image-block -->
                            <div class="text-block">
                                <div class="inner-block">
                                    <div class="main-content">
                                        <h3>Product 1</h3>
                                        <span>&#8377; 20,000.00</span>
                                    </div><!-- /.main-content -->
                                    <div class="hover-content">
                                        <div class="social">
                                            <a href="#"><i class="fa fa-shopping-cart"></i></a>
                                            <a href="#"><i class="fa fa-heart"></i></a>
                                        </div><!-- /.social -->
                                    </div><!-- /.hover-content -->
                                </div><!-- /.inner-block -->
                            </div><!-- /.text-block -->
                        </div><!-- /.single-team-style-one -->
                    </div><!-- /.col-lg-3 -->
					 <div class="col-lg-3 col-md-6 col-sm-12 filter-item bat">
                        <div class="single-team-style-one">
                            <div class="image-block">
                                <img src="new/solartech-demo/images/home-pages/team-1-1.jpg" alt="awesome image">
                            </div><!-- /.image-block -->
                            <div class="text-block">
                                <div class="inner-block">
                                    <div class="main-content">
                                         <h3>Product 2</h3>
                                        <span>&#8377; 20,000.00</span>
                                    </div><!-- /.main-content -->
                                    <div class="hover-content">
                                        <div class="social">
                                           <a href="#"><i class="fa fa-shopping-cart"></i></a>
                                            <a href="#"><i class="fa fa-heart"></i></a>
                                        </div><!-- /.social -->
                                    </div><!-- /.hover-content -->
                                </div><!-- /.inner-block -->
                            </div><!-- /.text-block -->
                        </div><!-- /.single-team-style-one -->
                    </div>
					 <div class="col-lg-3 col-md-6 col-sm-12 filter-item ldr">
                        <div class="single-team-style-one">
                            <div class="image-block">
                                <img src="new/solartech-demo/images/home-pages/team-1-1.jpg" alt="awesome image">
                            </div><!-- /.image-block -->
                            <div class="text-block">
                                <div class="inner-block">
                                    <div class="main-content">
                                         <h3>Product 3</h3>
                                        <span>&#8377; 20,000.00</span>
                                    </div><!-- /.main-content -->
                                    <div class="hover-content">
                                        <div class="social">
                                            <a href="#"><i class="fa fa-shopping-cart"></i></a>
                                            <a href="#"><i class="fa fa-heart"></i></a>
                                        </div><!-- /.social -->
                                    </div><!-- /.hover-content -->
                                </div><!-- /.inner-block -->
                            </div><!-- /.text-block -->
                        </div><!-- /.single-team-style-one -->
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 filter-item stb">
                        <div class="single-team-style-one">
                            <div class="image-block">
                                <img src="new/solartech-demo/images/home-pages/team-1-2.jpg" alt="awesome image">
                            </div><!-- /.image-block -->
                            <div class="text-block">
                                <div class="inner-block">
                                    <div class="main-content">
                                        <h3>Product 4</h3>
                                        <span>&#8377; 20,000.00</span>
                                    </div><!-- /.main-content -->
                                    <div class="hover-content">
                                        <div class="social">
                                            <a href="#"><i class="fa fa-shopping-cart"></i></a>
                                            <a href="#"><i class="fa fa-heart"></i></a>
                                        </div><!-- /.social -->
                                    </div><!-- /.hover-content -->
                                </div><!-- /.inner-block -->
                            </div><!-- /.text-block -->
                        </div><!-- /.single-team-style-one -->
                    </div><!-- /.col-lg-3 -->
                    <div class="col-lg-3 col-md-6 col-sm-12 filter-item inv">
                        <div class="single-team-style-one">
                            <div class="image-block">
                                <img src="new/solartech-demo/images/home-pages/team-1-3.jpg" alt="awesome image">
                            </div><!-- /.image-block -->
                            <div class="text-block">
                                <div class="inner-block">
                                    <div class="main-content">
                                        <h3>Product 5</h3>
                                        <span>&#8377; 20,000.00</span>
                                    </div><!-- /.main-content -->
                                    <div class="hover-content">
                                        <div class="social">
                                            <a href="#"><i class="fa fa-shopping-cart"></i></a>
                                            <a href="#"><i class="fa fa-heart"></i></a>
                                        </div><!-- /.social -->
                                    </div><!-- /.hover-content -->
                                </div><!-- /.inner-block -->
                            </div><!-- /.text-block -->
                        </div><!-- /.single-team-style-one -->
                    </div><!-- /.col-lg-3 -->
                    <div class="col-lg-3 col-md-6 col-sm-12 filter-item gd">
                        <div class="single-team-style-one">
                            <div class="image-block">
                                <img src="new/solartech-demo/images/home-pages/team-1-4.jpg" alt="awesome image">
                            </div><!-- /.image-block -->
                            <div class="text-block">
                                <div class="inner-block">
                                    <div class="main-content">
                                        <h3>Product 6</h3>
                                        <span>&#8377; 20,000.00</span>
                                    </div><!-- /.main-content -->
                                    <div class="hover-content">
                                        <div class="social">
                                             <a href="#"><i class="fa fa-shopping-cart"></i></a>
                                            <a href="#"><i class="fa fa-heart"></i></a>
                                        </div><!-- /.social -->
                                    </div><!-- /.hover-content -->
                                </div><!-- /.inner-block -->
                            </div><!-- /.text-block -->
                        </div><!-- /.single-team-style-one -->
                    </div><!-- /.col-lg-3 -->
					<div class="col-lg-3 col-md-6 col-sm-12 filter-item pt">
                        <div class="single-team-style-one">
                            <div class="image-block">
                                <img src="new/solartech-demo/images/home-pages/team-1-4.jpg" alt="awesome image">
                            </div><!-- /.image-block -->
                            <div class="text-block">
                                <div class="inner-block">
                                    <div class="main-content">
                                         <h3>Product 7</h3>
                                        <span>&#8377; 20,000.00</span>
                                    </div><!-- /.main-content -->
                                    <div class="hover-content">
                                        <div class="social">
                                            <a href="#"><i class="fa fa-shopping-cart"></i></a>
                                            <a href="#"><i class="fa fa-heart"></i></a>
                                        </div><!-- /.social -->
                                    </div><!-- /.hover-content -->
                                </div><!-- /.inner-block -->
                            </div><!-- /.text-block -->
                        </div><!-- /.single-team-style-one -->
                    </div>
                </div><!-- /.row -->
				<div class="more-btn text-center">
                    <a href="#" class="thm-btn home-four hvr-sweep-to-left">Shop<i class="energy-icon-right-arrow"></i></a>
                </div>
            </div><!-- /.container -->
        </section><!-- /.sec-pad -->
		<div class="block block--highlighted block-categories block-categories--layout--compact">
               <div class="container">
                  <div class="block-header">
                     <h3 class="block-header__title">Popular Categories</h3>
                     <div class="block-header__divider"></div>
                  </div>
                  <div class="block-categories__list">
                     <div class="block-categories__item category-card category-card--layout--compact">
                        <div class="category-card__body">
                           <div class="category-card__image"><a href="#"><img src="assets/images/categories/category-1.jpg" alt=""></a></div>
                           <div class="category-card__content">
                              <div class="category-card__name"><a href="#">UPS</a></div>
                              <div class="category-card__all"><a href="#">Show All</a></div>
                              <div class="category-card__products">10+ Products</div>
                           </div>
                        </div>
                     </div>
                     <div class="block-categories__item category-card category-card--layout--compact">
                        <div class="category-card__body">
                           <div class="category-card__image"><a href="#"><img src="assets/images/categories/category-2.jpg" alt=""></a></div>
                           <div class="category-card__content">
                              <div class="category-card__name"><a href="#">SOLAR DIVISION</a></div>
                              <div class="category-card__all"><a href="#">Show All</a></div>
                              <div class="category-card__products">10+ Products</div>
                           </div>
                        </div>
                     </div>
                     <div class="block-categories__item category-card category-card--layout--compact">
                        <div class="category-card__body">
                           <div class="category-card__image"><a href="#"><img src="assets/images/categories/category-4.jpg" alt=""></a></div>
                           <div class="category-card__content">
                              <div class="category-card__name"><a href="#">STABILIZERS</a></div>
                              <div class="category-card__all"><a href="#">Show All</a></div>
                              <div class="category-card__products">10+ Products</div>
                           </div>
                        </div>
                     </div>
                     <div class="block-categories__item category-card category-card--layout--compact">
                        <div class="category-card__body">
                           <div class="category-card__image"><a href="#"><img src="assets/images/categories/category-3.jpg" alt=""></a></div>
                           <div class="category-card__content">
                              <div class="category-card__name"><a href="#">INVERTERS</a></div>
                              <div class="category-card__all"><a href="#">Show All</a></div>
                              <div class="category-card__products">79 Products</div>
                           </div>
                        </div>
                     </div>
                     <div class="block-categories__item category-card category-card--layout--compact">
                        <div class="category-card__body">
                           <div class="category-card__image"><a href="#"><img src="assets/images/categories/category-5.jpg" alt=""></a></div>
                           <div class="category-card__content">
                              <div class="category-card__name"><a href="#">TRANSFORMERS</a></div>
                              <div class="category-card__all"><a href="#">Show All</a></div>
                              <div class="category-card__products">366 Products</div>
                           </div>
                        </div>
                     </div>
                     <div class="block-categories__item category-card category-card--layout--compact">
                        <div class="category-card__body">
                           <div class="category-card__image"><a href="#"><img src="assets/images/categories/category-6.jpg" alt=""></a></div>
                           <div class="category-card__content">
                              <div class="category-card__name"><a href="#">BATTERIES</a></div>
                              <div class="category-card__all"><a href="#">Show All</a></div>
                              <div class="category-card__products">10+ Products</div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
			
        <section class="easy-steps gray-bg home-four">
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <div class="col-lg-6 d-flex overlayed-background" style="background-image: url(new/solartech-demo/images/home-pages/easy-step-bg1.jpg);">
                        <div class="title-block my-auto text-center">
                            <a href="" class="video-popup hvr-pulse-grow"><i class="fa fa-play"></i></a>
                            <h3>Video About Our Working Process</h3>
                        </div><!-- /.title-block -->
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="content-box">
                            <div class="single-content-box">
                                <h3>Consult <br> Our Expert Team</h3>
                                <p>Perfectly simple and easy to distinguish in a free hour, when our power off choice isuntrammelled and when nothing perfect.</p>
                            </div><!-- /.single-content-box -->
                            <div class="single-content-box">
                                <h3>Ordering <br> Your Equipments</h3>
                                <p>Perfectly simple and easy to distinguish in a free hour, when our power off choice isuntrammelled and when nothing perfect.</p>
                            </div><!-- /.single-content-box -->
                            <div class="single-content-box">
                                <h3>Install Your <br> Solar Energy Panel</h3>
                                <p>Perfectly simple and easy to distinguish in a free hour, when our power off choice isuntrammelled and when nothing perfect.</p>
                            </div><!-- /.single-content-box -->
                            <div class="easy-steps-count-box">
                                <div class="single-count-box">
                                    <div class="count-text">01</div><!-- /.count-text -->
                                    <i class="energy-icon-manager"></i>
                                </div><!-- /.single-count-box -->
                                <div class="single-count-box">
                                    <div class="count-text">02</div><!-- /.count-text -->
                                    <i class="energy-icon-order"></i>
                                </div><!-- /.single-count-box -->
                                <div class="single-count-box">
                                    <div class="count-text">03</div><!-- /.count-text -->
                                    <i class="energy-icon-mill"></i>
                                </div><!-- /.single-count-box -->
                            </div><!-- /.easy-steps-count-box -->
                        </div><!-- /.content-box -->                        
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row no-gutters -->
            </div><!-- /.container -->
        </section><!-- /.easy-steps -->
        <section class="sec-pad-with-content-margin-30">
            <div class="container">
                <div class="sec-title-four text-center">
                    <h2>Best <span>Seller</span></h2>
                    <p>Find the Best Deal with Best Seller Product of the Month. <br> Take control of your power costs today!</p>
                </div><!-- /.sec-title-four -->
				 <ul class="project-filter post-filter has-dynamic-filters-counter">
				 <li data-filter=".filter-item" class="active"><span class="filter-text">All</span></li>
                    <li data-filter=".ups"><span class="filter-text">Online Ups</span></li><!--
                    --><li data-filter=".ldr"><span class="filter-text">LDR</span></li><!--
                    --><li data-filter=".stb"><span class="filter-text">Stabilizers</span></li><!--
                    --><li data-filter=".inv"><span class="filter-text">Inverters</span></li><!--
                    --><li data-filter=".gd"><span class="filter-text">Genset Divison</span></li><!--
                    --><li data-filter=".pt"><span class="filter-text">Power Transformers</span></li>
					<li data-filter=".bat"><span class="filter-text">Batteries</span></li>
                </ul>
                <div class="row filter-layout masonary-layout">
                    <div class="col-lg-3 col-md-6 col-sm-12 filter-item ups">
                        <div class="single-team-style-one">
                            <div class="image-block">
                                <img src="new/solartech-demo/images/home-pages/team-1-1.jpg" alt="awesome image">
                            </div><!-- /.image-block -->
                            <div class="text-block">
                                <div class="inner-block">
                                    <div class="main-content">
                                        <h3>Product 1</h3>
                                        <span>&#8377; 20,000.00</span>
                                    </div><!-- /.main-content -->
                                    <div class="hover-content">
                                        <div class="social">
                                            <a href="#"><i class="fa fa-shopping-cart"></i></a>
                                            <a href="#"><i class="fa fa-heart"></i></a>
                                        </div><!-- /.social -->
                                    </div><!-- /.hover-content -->
                                </div><!-- /.inner-block -->
                            </div><!-- /.text-block -->
                        </div><!-- /.single-team-style-one -->
                    </div><!-- /.col-lg-3 -->
					 <div class="col-lg-3 col-md-6 col-sm-12 filter-item bat">
                        <div class="single-team-style-one">
                            <div class="image-block">
                                <img src="new/solartech-demo/images/home-pages/team-1-1.jpg" alt="awesome image">
                            </div><!-- /.image-block -->
                            <div class="text-block">
                                <div class="inner-block">
                                    <div class="main-content">
                                         <h3>Product 2</h3>
                                        <span>&#8377; 20,000.00</span>
                                    </div><!-- /.main-content -->
                                    <div class="hover-content">
                                        <div class="social">
                                           <a href="#"><i class="fa fa-shopping-cart"></i></a>
                                            <a href="#"><i class="fa fa-heart"></i></a>
                                        </div><!-- /.social -->
                                    </div><!-- /.hover-content -->
                                </div><!-- /.inner-block -->
                            </div><!-- /.text-block -->
                        </div><!-- /.single-team-style-one -->
                    </div>
					 <div class="col-lg-3 col-md-6 col-sm-12 filter-item ldr">
                        <div class="single-team-style-one">
                            <div class="image-block">
                                <img src="new/solartech-demo/images/home-pages/team-1-1.jpg" alt="awesome image">
                            </div><!-- /.image-block -->
                            <div class="text-block">
                                <div class="inner-block">
                                    <div class="main-content">
                                         <h3>Product 3</h3>
                                        <span>&#8377; 20,000.00</span>
                                    </div><!-- /.main-content -->
                                    <div class="hover-content">
                                        <div class="social">
                                            <a href="#"><i class="fa fa-shopping-cart"></i></a>
                                            <a href="#"><i class="fa fa-heart"></i></a>
                                        </div><!-- /.social -->
                                    </div><!-- /.hover-content -->
                                </div><!-- /.inner-block -->
                            </div><!-- /.text-block -->
                        </div><!-- /.single-team-style-one -->
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 filter-item stb">
                        <div class="single-team-style-one">
                            <div class="image-block">
                                <img src="new/solartech-demo/images/home-pages/team-1-2.jpg" alt="awesome image">
                            </div><!-- /.image-block -->
                            <div class="text-block">
                                <div class="inner-block">
                                    <div class="main-content">
                                        <h3>Product 4</h3>
                                        <span>&#8377; 20,000.00</span>
                                    </div><!-- /.main-content -->
                                    <div class="hover-content">
                                        <div class="social">
                                            <a href="#"><i class="fa fa-shopping-cart"></i></a>
                                            <a href="#"><i class="fa fa-heart"></i></a>
                                        </div><!-- /.social -->
                                    </div><!-- /.hover-content -->
                                </div><!-- /.inner-block -->
                            </div><!-- /.text-block -->
                        </div><!-- /.single-team-style-one -->
                    </div><!-- /.col-lg-3 -->
                    <div class="col-lg-3 col-md-6 col-sm-12 filter-item inv">
                        <div class="single-team-style-one">
                            <div class="image-block">
                                <img src="new/solartech-demo/images/home-pages/team-1-3.jpg" alt="awesome image">
                            </div><!-- /.image-block -->
                            <div class="text-block">
                                <div class="inner-block">
                                    <div class="main-content">
                                        <h3>Product 5</h3>
                                        <span>&#8377; 20,000.00</span>
                                    </div><!-- /.main-content -->
                                    <div class="hover-content">
                                        <div class="social">
                                            <a href="#"><i class="fa fa-shopping-cart"></i></a>
                                            <a href="#"><i class="fa fa-heart"></i></a>
                                        </div><!-- /.social -->
                                    </div><!-- /.hover-content -->
                                </div><!-- /.inner-block -->
                            </div><!-- /.text-block -->
                        </div><!-- /.single-team-style-one -->
                    </div><!-- /.col-lg-3 -->
                    <div class="col-lg-3 col-md-6 col-sm-12 filter-item gd">
                        <div class="single-team-style-one">
                            <div class="image-block">
                                <img src="new/solartech-demo/images/home-pages/team-1-4.jpg" alt="awesome image">
                            </div><!-- /.image-block -->
                            <div class="text-block">
                                <div class="inner-block">
                                    <div class="main-content">
                                        <h3>Product 6</h3>
                                        <span>&#8377; 20,000.00</span>
                                    </div><!-- /.main-content -->
                                    <div class="hover-content">
                                        <div class="social">
                                             <a href="#"><i class="fa fa-shopping-cart"></i></a>
                                            <a href="#"><i class="fa fa-heart"></i></a>
                                        </div><!-- /.social -->
                                    </div><!-- /.hover-content -->
                                </div><!-- /.inner-block -->
                            </div><!-- /.text-block -->
                        </div><!-- /.single-team-style-one -->
                    </div><!-- /.col-lg-3 -->
					<div class="col-lg-3 col-md-6 col-sm-12 filter-item pt">
                        <div class="single-team-style-one">
                            <div class="image-block">
                                <img src="new/solartech-demo/images/home-pages/team-1-4.jpg" alt="awesome image">
                            </div><!-- /.image-block -->
                            <div class="text-block">
                                <div class="inner-block">
                                    <div class="main-content">
                                         <h3>Product 7</h3>
                                        <span>&#8377; 20,000.00</span>
                                    </div><!-- /.main-content -->
                                    <div class="hover-content">
                                        <div class="social">
                                            <a href="#"><i class="fa fa-shopping-cart"></i></a>
                                            <a href="#"><i class="fa fa-heart"></i></a>
                                        </div><!-- /.social -->
                                    </div><!-- /.hover-content -->
                                </div><!-- /.inner-block -->
                            </div><!-- /.text-block -->
                        </div><!-- /.single-team-style-one -->
                    </div>
                </div><!-- /.row -->
				<div class="more-btn text-center">
                    <a href="#" class="thm-btn home-four hvr-sweep-to-left">Shop<i class="energy-icon-right-arrow"></i></a>
                </div>
            </div><!-- /.container -->
        </section>
        <div class="brand-wrapper gradient-bg">
            <div class="container">
                <div class="brand-carousel-one owl-theme owl-carousel">
                    <div class="item">
                        <img src="new/solartech-demo/images/home-pages/brand-1-1.png" alt="">
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="new/solartech-demo/images/home-pages/brand-1-2.png" alt="">
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="new/solartech-demo/images/home-pages/brand-1-3.png" alt="">
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="new/solartech-demo/images/home-pages/brand-1-4.png" alt="">
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="new/solartech-demo/images/home-pages/brand-1-5.png" alt="">
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="new/solartech-demo/images/home-pages/brand-1-1.png" alt="">
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="new/solartech-demo/images/home-pages/brand-1-2.png" alt="">
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="new/solartech-demo/images/home-pages/brand-1-3.png" alt="">
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="new/solartech-demo/images/home-pages/brand-1-4.png" alt="">
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="new/solartech-demo/images/home-pages/brand-1-5.png" alt="">
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="new/solartech-demo/images/home-pages/brand-1-1.png" alt="">
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="new/solartech-demo/images/home-pages/brand-1-2.png" alt="">
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="new/solartech-demo/images/home-pages/brand-1-3.png" alt="">
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="new/solartech-demo/images/home-pages/brand-1-4.png" alt="">
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="new/solartech-demo/images/home-pages/brand-1-5.png" alt="">
                    </div><!-- /.item -->
                </div><!-- /.brand-carousel-one owl-theme owl-carousel -->
            </div><!-- /.container -->
        </div><!-- /.brand-wrapper -->
		</div>
<?php site_footer(); ?>