

.add_product{

	padding: 0px 100px 40px 100px;
}

#img1{
    object-fit: cover;
	border:1px solid black;
	border-radius: 8px;
  height: 250px;
	max-height: 250px;

}

#prod_details{

}



.view_product{

	padding: 0px 35px 40px 35px;
}


.view_product_details{

	padding: 10px 10px 10px 10px;
	border: 1px solid #c3cfe2;
	background-color: #f8f9fe;
    border-radius: 8px;
}

#edit_btn{
   
   border: none;
   padding: 5px 20px 5px 20px;
   border-radius: 6px;
   width: 100%;
   height: 40px !important;
   background-color: #5e72e3 !important;
   color:#ffffff !important;
}

#delete_btn{
   
   border: none;
   padding: 5px 20px 5px 20px;
   border-radius: 6px;
   width: 100%;
   height: 40px !important;
   background-color: #ff758c !important;
   color:#ffffff !important;
}